.card {
    min-width: 23rem;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
    background-color: $white;

    &:hover {
        cursor: pointer;
    }

    &:hover .product-info {
        transform: translateY(-5.5rem);
    }
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $pastel-green;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 4/5.5;

    &__main {
        width: 100%;
        max-height: 100%;
        padding: 4rem 2rem;
        object-fit: contain;

        &--reverse {
            object-fit: cover;
            padding: 0;
            height: calc(100% + 4rem);
            width: calc(100% + 2rem);
        }
    }

    &__hover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        object-fit: cover;


        &--hovered {
            opacity: 1;
        }

        &--reverse {
            object-fit: contain;
            width: 100%;
            background-color: $pastel-green;
            padding: 4rem 2rem;
        }
    }

    &__discount-overlay {
        position: absolute;
        bottom: 2rem;
        left: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: $cherry;
        width: 6rem;
        height: 2.3rem;
        padding-right: 1rem;
        font-size: 1.2rem;
        line-height: 0;
        font-weight: bold;
        color: $white;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
        transition: all 0.3s ease-in-out;

        &--hovered {
            opacity: 0;
        }
    }
}



.product-info-wrapper {
    max-height: 21rem;
    min-height: 16rem;
    width: 100%;
    position: relative;
    bottom: 0;
}

.product-info {
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
    background-color: $white;
    transition: transform 0.3s ease-in-out;

    &__title {
        line-height: 0;
        font-weight: 800;
        margin-block: 1rem;
    }
}

.product-price {
    display: flex;
    flex-direction: column;
    color: $cherry;
    font-size: 1.2rem;
    font-weight: 600;
    margin-block: 0.5rem;

    &__current {
        margin-block: 0.5rem;
    }

    &__previous {
        color: $grey;
        margin-block: 0.5rem;

        &--strike {
            text-decoration: line-through;
            margin-right: 1rem;
        }
    }
}

.product-color {
    display: flex;
    position: relative;
    margin-block: 0.5rem;

    &__dot {
        margin-top: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 1rem;
        opacity: 1;
        transition: all 0.3s ease-in-out;

        &--hovered {
            opacity: 0;
        }
    }


}

.product-sizes {
    position: absolute;
    bottom: -0.5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: $grey;

    &--hovered {
        opacity: 1;
        bottom: 0;
    }
}

.price-change {

    &__text {
        font-size: 0.8rem;
        color: $grey;
        margin-block: 0.5rem;
        font-weight: 600;
    }
}

.product-button {
    margin-block: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    &--hovered {
        visibility: visible;
        opacity: 1;
    }
}